body {
  background-color: #111;
  color: white;
  font-family: 'Pixelify Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#container {
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.answer {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid white;
  background-color: #222;
  border-radius: 10px;
  font-size: 20px;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
